
<div class="row"><!-- --------------------row-------------------- -->
	<div class="a">
		<% @topimages.each do |topimage| %>
	    <div class="b"><%= attachment_image_tag topimage, :top_image, :fill, 1200, 350 %></div>
	    <% end %>
	</div>

</div><!-- --------------------------row------------------------- -->

<% unless user_signed_in? %>
<div class="row"><!-- --------------------row-------------------- -->
	<div style="text-align: center">
		<%= link_to new_user_session_path do %>
			<div class="btn-lg btn-primary">
				ログイン
			</div>
		<% end %>
    </div>

</div><!-- --------------------------row------------------------- -->
<% end %>

<div class="row"><!-- --------------------row-------------------- -->
	<div style="text-align: center">
		<%= link_to users_reservations_path do %>
	        <div class="btn-lg btn-success">
	        	予約
	        </div>
        <% end %>
    </div>

</div><!-- --------------------------row------------------------- -->

<div class="row"><!-- --------------------row-------------------- -->
    <%= link_to users_informations_path do %>
        <h2>INFORMATION</h2>
    <% end %>

    <table class="table table-inverse", style="margin-top:15px">

        <thead>
            <tr class="active">
                <th style="width:20%">投稿日</th>
                <th style="width:80%">タイトル</th>
            </tr>
        </thead>

        <tbody>
            <% @informations.each do |i|%>
            <tr>
                <td><%= i.created_at.strftime("%Y年%-m月%-d日") %></td>
                <td>
                    <%= link_to users_information_path(i.id) do %>
                        <%= i.title %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>

    </table>

</div><!-- --------------------------row------------------------- -->

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>