<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-3">
        <h2><%= @user.name %>　様</h2>
    </div>

    <div class="col-md-2 col-md-offset-5">
    </div>

    <div class="col-md-2">
    </div>
</div><!-- --------------------------row------------------------- -->

<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-12">
        <h3>予約一覧</h3>
    </div>


    <table class="table table-inverse", style="margin-top:15px">

        <thead>
            <tr class="active">
                <th style="width:20%">入金</th>
                <th style="width:20%">日付</th>
                <th style="width:20%">時間</th>
                <th style="width:10%">コート</th>
                <th style="width:10%">人数</th>
                <th style="width:20%">詳細</th>
            </tr>
        </thead>

        <tbody>
            <% @reservations.each do |r|%>
            <tr>
                <td><%= r.status %></td>
                <td><%= r.day %></td>
                <td><%= r.start_time %></td>
                <td><% if r.tennis_court.id == 1 %>
                    Aコート
                    <% else %>
                    Bコート
                    <% end %>
                </td>
                <td><%= r.number %></td>
                <td><%= link_to "詳細", admins_my_reservation_path(@user.id, r.id) %></td>
            </tr>
            <% end %>
        </tbody>

    </table>


</div><!-- --------------------------row------------------------- -->


