<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-3">
        <h2><%= link_to @user.name + " 様", admins_user_path(@user.id) %></h2>
    </div>

    <div class="col-md-2 col-md-offset-5">
    </div>

    <div class="col-md-2">
    </div>
</div><!-- --------------------------row------------------------- -->


<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-12">
        <h3>予約一覧</h3>
    </div>


    <table class="table table-inverse", style="margin-top:15px">

        <thead>
            <tr class="active">
                <th style="width:20%">入金</th>
                <th style="width:20%">日付</th>
                <th style="width:20%">時間</th>
                <th style="width:20%">コート</th>
                <th style="width:20%">人数</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><%= @reservation.status %></td>
                <td><%= @reservation.day.strftime("%Y年%-m月%-d日") %></td>
                <td><%= @reservation.start_time.strftime("%-H時") %>〜</td>
                <td><% if @reservation.tennis_court.id == 1 %>
                    Aコート
                    <% else %>
                    Bコート
                    <% end %>
                </td>
                <td>
                    <%= form_for @reservation, url: number_admins_user_path(@reservation.id), method: :patch do |f| %>
                         <%= f.number_field :number,in: 1..100, step: 1, :value => @reservation.number %>
                    <%= f.submit "変更", class: "btn btn-primary" %>
                    <% end %>
                </td>

            </tr>

        </tbody>

    </table>

        <table class="table table-inverse", style="margin-top:15px">

        <thead>
            <tr class="active">
                <th style="width:20%">基本料金</th>
                <th style="width:20%">ナイター料金</th>
                <th style="width:20%">合計金額</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><%= @bprice %>円</td>
                <td><%= @nprice %>円</td>
                <td><%= @reservation.total_price %>円</td>
            </tr>

        </tbody>

    </table>

</div><!-- --------------------------row------------------------- -->


<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-6">
        <% if @reservation.number == 0  %>
            人数を変更してください
        <% end %>

        <% unless @reservation.number == 0  %>
            <% if @reservation.status == "入金待ち"  %>
                    <%= link_to "入金確認", admins_my_reservation_path(@reservation.id, params: { status: '入金確認' }), class: 'btn btn-primary', method: :patch %>
            <% end %>
        <% end %>

            <% if @reservation.status == "入金確認" %>
                    <%= link_to "入金待ち", admins_my_reservation_path(@reservation.id, params: { status: '入金待ち' }), class: 'btn btn-primary', method: :patch %>
            <% end %>
    </div>

    <div class="col-md-6">
    <% if @reservation.status == "入金待ち" %>
        <%= link_to "キャンセル", admins_my_reservation_path(@reservation.id), class: 'btn btn-danger btn-primary', method: :delete %>
    <% end %>
    </div>

</div><!-- --------------------------row------------------------- -->

<div class="row"><!-- --------------------row-------------------- -->
    <div style="border: 2px solid #000000">
        <%= @user.remark %>
    </div>
</div><!-- --------------------------row------------------------- -->