<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-3">
    	<h2>統計</h2>
    </div>

    <div class="col-md-2 col-md-offset-5">
    </div>

    <div class="col-md-2">
    </div>
</div><!-- --------------------------row------------------------- -->


<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-6">

    <table class="table table-inverse", style="margin-top:15px">

        <thead>
            <tr class="active">
                <th style="width:30%">ユーザー数</th>
                <th style="width:30%">総予約数(入金確認済)</th>
                <th style="width:30%">一人平均</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><%= @users.count %></td>
                <td><%= @reservations.count %></td>
                <td><%= @r_avarage %></td>
            </tr>
        </tbody>

    </table>

    </div>

    <div class="col-md-6">
    </div>
</div><!-- --------------------------row------------------------- -->


<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-6">

    <table class="table table-inverse", style="margin-top:15px">

        <thead>
            <tr class="active">
                <th style="width:30%">ユーザー数</th>
                <th style="width:30%">総予約数(入金確認済)</th>
                <th style="width:30%">一人平均</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><%= @users.count %></td>
                <td><%= @reservations.count %></td>
                <td><%= @r_avarage %></td>
            </tr>
        </tbody>

    </table>

    </div>

    <div class="col-md-6">
    </div>
</div><!-- --------------------------row------------------------- -->