<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-3">
        <h2><%= current_user.name %>　様</h2>
    </div>

    <div class="col-md-2 col-md-offset-5">
        <%= link_to "予約一覧", users_my_reservations_path(current_user.id), class: "btn btn-primary" %>
    </div>

    <div class="col-md-2">
        <%= link_to "編集", edit_users_user_path(current_user.id), class: "btn btn-primary" %>
    </div>
</div><!-- --------------------------row------------------------- -->

<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-12">
        <h3>User情報</h3>
    </div>

    <table border="0">

        <tr>
            <th>氏名</th>
            <td><%= current_user.name %></td>
        </tr>

        <tr>
            <th>フリガナ</th>
            <td><%= current_user.name_kana %></td>
        </tr>

        <tr>
            <th>性別</th>
            <td><%= current_user.gender %></td>
        </tr>

        <tr>
            <th>生年月日</th>
            <td><%= current_user.birthday %></td>
        </tr>

        <tr>
            <th>郵便番号</th>
            <td><%= current_user.postcode %></td>
        </tr>

        <tr>
            <th>都道府県</th>
            <td><%= current_user.prefecture_name %></td>
        </tr>

        <tr>
            <th>市区村町</th>
            <td><%= current_user.address_city %></td>
        </tr>

        <tr>
            <th>町名</th>
            <td><%= current_user.address_town %></td>
        </tr>

        <tr>
            <th>番地</th>
            <td><%= current_user.address_street %></td>
        </tr>

        <tr>
            <th>建物名</th>
            <td><%= current_user.address_building %></td>
        </tr>

        <tr>
            <th>電話番号</th>
            <td><%= current_user.telephone_number %></td>
        </tr>

        <tr>
            <th>ランク</th>
            <td><%= current_user.rank %></td>
        </tr>


    </table>
</div><!-- --------------------------row------------------------- -->
