<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-3">
        <h2><%= link_to @user.name + " 様", users_user_path(@user.id) %></h2>
    </div>

    <div class="col-md-2 col-md-offset-5">
    </div>

    <div class="col-md-2">
    </div>
</div><!-- --------------------------row------------------------- -->


<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-12">
        <h3>予約一覧</h3>
    </div>


    <table class="table table-inverse", style="margin-top:15px">

        <thead>
            <tr class="active">
                <th style="width:20%">入金</th>
                <th style="width:20%">日付</th>
                <th style="width:20%">時間</th>
                <th style="width:20%">コート</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><%= @reservation.status %></td>
                <td><%= @reservation.day.strftime("%Y年%-m月%-d日") %></td>
                <td><%= @reservation.start_time.strftime("%-H時") %></td>
                <td><% if @reservation.tennis_court.id == 1 %>
                    Aコート
                    <% else %>
                    Bコート
                    <% end %>
                </td>
            </tr>

        </tbody>

    </table>

        <table class="table table-inverse", style="margin-top:15px">

        <thead>
            <tr class="active">
                <th style="width:20%">基本料金</th>
                <th style="width:20%">ナイター料金</th>
                <th style="width:20%">合計金額</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><%= @bprice %>円</td>
                <td><%= @nprice %>円</td>
                <td><%= @reservation.total_price %>円</td>
            </tr>

        </tbody>

    </table>
<% if @reservation.status == "入金待ち" %>
    <%= link_to "キャンセル", users_my_reservation_path(current_user.id, @reservation.id),class: 'btn btn-danger btn-lg', method: :delete %>
<% end %>

</div><!-- --------------------------row------------------------- -->


