<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-4">
        <h2><%= link_to "戻る", users_reservation_path(@day), class: "btn btn-primary" %></h2>
    </div>

    <div class="col-md-7">
        <h2>予約内容確認　</h2>
    </div>

    <div class="col-md-1">
    </div>
</div><!-- --------------------------row------------------------- -->

<div class="row"><!-- --------------------row-------------------- -->

    <table class="table table-inverse", style="margin-top:15px">

        <thead>
            <tr class="active">
                <th style="width:30%">日付</th>
                <th style="width:30%">時間</th>
                <th style="width:30%">コート</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><%= @day %></td>
                <td><%= @stime %></td>
                <td>
                    <% if @court == "1" %>
                        Aコート
                    <% else %>
                        Bコート
                    <%end%>
                </td>
            </tr>

        </tbody>

    </table>

        <table class="table table-inverse", style="margin-top:15px">

        <thead>
            <tr class="active">
                <th style="width:30%">基本料金</th>
                <th style="width:30%">ナイター料金</th>
                <th style="width:30%">合計金額</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><%= @bprice %>円</td>
                <td><%= @nprice %>円</td>
                <td><%= @tprice %>円</td>
            </tr>

        </tbody>

    </table>


</div><!-- --------------------------row------------------------- -->
<%= form_with(model: @reservation, url:users_reservations_path, method: :post) do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :tennis_court_id, :value => @court %>
    <%= f.hidden_field :day, :value => @day %>
    <%= f.hidden_field :start_time, :value => @stime %>
    <%= f.hidden_field :total_price, :value => @tprice %>
    <%= f.submit "予約する", class: 'btn btn-success btn-lg' %>
<% end %>