<div class="row"><!-- --------------------row-------------------- -->

    <div class="col-md-6 col-md-offset-6">

    <div class="search-form">
        <%= form_tag(admins_search_path,:method => 'get') do %>
            <%= text_field_tag :search_word %>
            <%= select_tag :search_type, options_for_select(['氏名', 'フリガナ', '生年月日', '電話番号', 'メルアドレス',]) %>
            <%= select_tag :search_method, options_for_select([['完全一致', "perfect_match"],["前方一致", "forward_match"],["後方一致", "backend_match"], ["部分一致", "partial_match"]]) %>
            <%= submit_tag 'Search' %>
     <% end %>
    </div>

</div><!-- --------------------------row------------------------- -->

<div class="row"><!-- --------------------row-------------------- -->

    <table class="table table-inverse", style="margin-top:15px">

        <thead>
            <tr class="active">
                <th style="width:6%">会員ID</th>
                <th style="width:10%">氏名</th>
                <th style="width:10%">フリガナ</th>
                <th style="width:6%">性別</th>
                <th style="width:10%">生年月日</th>
                <th style="width:10%">電話番号</th>
                <th style="width:20%">メールアドレス</th>
                <th style="width:7%">RANK</th>
                <th style="width:8%">ステータス</th>
            </tr>
        </thead>

        <tbody>
        <% @models.each do |user| %>
            <tr>
                <td><%= user.id %></td>

                <td>
                    <%= link_to admins_user_path(user.id) do %>
                        <%= user.name %>
                    <% end %>
                </td>
                <td><%= user.name_kana %></td>

                <td>
                    <%if user.gender == "man"%>
                    男
                    <% else %>
                    女
                    <% end %>
                </td>

                <td><%= user.birthday.strftime("%Y年%-m月%-d日") %></td>

                <td><%= user.telephone_number %></td>

                <td><%= user.email %></td>

                <td><%= user.rank %></td>

                <td>
                    <% if user.active == true %>
                        有効
                    <% else %>
                        退会済
                    <% end %>
                </td>
            </tr>
        <% end %>
        </tbody>

    </table>

    <div class="text-center"><%= paginate @models %></div>
</div><!-- --------------------------row------------------------- -->
