<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>


  <div class="field">
    <%= f.label :name, "名前" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "名前" %>
  </div>

  <div class="field">
    <%= f.label :name_kana, "フリガナ" %><br />
    <%= f.text_field :name_kana, autofocus: true, autocomplete: "フリガナ" %>
  </div>

  <div class="field">
    <%= f.label :gender, "性別" %><br />
    男：<%= f.radio_button :gender, :男 %>
    女：<%= f.radio_button :gender, :女 %>
  </div>

  <div class="field">
    <%= f.label :birthday, "生年月日" %><br />
    <%= f.date_select :birthday, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号" %><br />
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "郵便番号" %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "住所" %>
  </div>

    <div class="field">
    <%= f.label :telephone_number %><br />
    <%= f.text_field :telephone_number, autofocus: true, autocomplete: "電話番号" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
